:root {
    --color-white-primary: #fefefe;
    --color-white-secondary: #ececec;
    --color-primary: #754668;
    --color-secondary: #4DAA57;
    --padding: 1.5vw;
}

#container {
    width: 100vw;
    height: 100vh;
    font-weight: 600;
    font-size: 1vw;
    font-family: "Inter", sans-serif;

    display: grid;
    grid-template: 1fr 1fr 3fr 1fr / 1fr 4fr;
}
#nav {
    display: grid;
    grid-area: 1 / 1 / -1 / 1;
    grid-template: .1fr .1fr .1fr/ 1fr;
    gap: 4vw;

    background-color: var(--color-primary);
    padding: var(--padding);
}
#nav #logo:hover,
#nav li:hover,
#header input:hover,
#header-main-left img:hover,
#header-main-right > *:hover,
#header-secondary-left button:hover {
    opacity: .5;
    cursor: pointer;
    transform: scale(1.05);
}
#logo,
#nav li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5vw;
    grid-auto-flow: column;
    align-items: start;
}
#nav li img {
    width: 1.5vw;
    height: auto;
}
.main-icon {
    width: 3vw;
    height: auto;
}
#nav-main ul,
#nav-secondary ul{
    display: grid;
    gap: 1vw;
}
#header {
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    background-color: var(--color-white-primary);
    height: 200px;
    color: black;
}
#header-main-left {
    background-color: var(--color-white-primary);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2vw;
    padding: var(--padding);
    align-items: center;
}
#header input {
    background-color: var(--color-white-secondary);
    border-radius: var(--padding);
    border: 1px solid var(--color-primary);
    color: #000000;
    padding: 1vw;
}
#header-main-right,
#header-secondary-left {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: var(--padding);
    gap: 2vw;
}
#header-main-right button {
    background-color: var(--color-white-secondary);
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    overflow: hidden;
}
#header-main-right h2 {
    text-shadow: none;
}
#header-secondary-left {
    grid-area: 2 / 1 / 2 / 1;
    grid-template-columns: auto 1fr;
    gap: 2vw;
    font-weight: bold;
}
#header-secondary-left button {
    background-color: var(--color-white-secondary);
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    overflow: hidden;
}
#header-secondary-left p {
    font-size: 2vw;
}
